<div class="row">
	<div class="col-md-12" style="margin-bottom: 10px;">
		<button class="btn btn-success pull-right" (click)="add()">
			<i class="fa fa-plus"></i> Add Device
		</button>
	</div>
	<div class="col-md-3" *ngFor='let device of devices'>
		<div class="well">
			<form>
				<div class="form-group">
					<label for="id">Id</label>
					<input type="text" disabled="disabled"
						[(ngModel)]="device.sid" name="sid" class="form-control"
						id="id" required>
				</div>
				<div class="form-group">
					<label for="name">Name</label>
					<input type="text"
						class="form-control" (keyup.enter)="save(device)"
						[(ngModel)]="device.name" id="name" name="name" required>
				</div>
				<div class="form-group">
					<label for="model">Model</label>
					<input type="text"
						class="form-control" (keyup.enter)="save(device)"
						[(ngModel)]="device.model" name="model" id="model">
				</div>
				<button type="button" class="btn btn-primary" (click)="save(device)">Save</button>
				<button type="button" class="btn btn-danger"
					(click)="delete(device)">Delete</button>
			</form>
		</div>
	</div>
</div>
