<!-- Main Header -->
<header class="main-header">
  <!-- Logo -->
  <a href="#" routerLink="/" class="logo">
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini"><b>M</b>i</span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg"><b>Mi</b>Home</span>
  </a>
  <!-- Header Navbar -->
  <nav class="navbar navbar-static-top" role="navigation">
    <!-- Sidebar toggle button-->
    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
      <span class="sr-only">Toggle navigation</span>
    </a>
    <!-- Navbar Right Menu -->
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav" >
        <!--<li class="dropdown messages-menu messagesBox"></li>
        <li class="dropdown notifications-menu notificationsBox"></li>
        <li class="dropdown tasks-menu tasksBox"></li>-->
        <li class="dropdown user user-menu userBox"></li>
      </ul>
    </div>
  </nav>
</header>
