<div class="box box-info">
  <div class="box-header with-border">
    <h3 class="box-title">Editer une fiche</h3>
  </div>
  <div class="box-body" *ngIf="client">

    <div class="form-group">
      <label for="nom">NOM</label>
      <input type="email" class="form-control" name="nom" [(ngModel)]="client.nom">
    </div>

    <div class="form-group">
      <label for="prenom">Prenom</label>
      <input type="email" class="form-control" name="prenom"  [(ngModel)]="client.prenom">
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <div class="input-group">
        <span class="input-group-addon">@</span>
        <input type="text" class="form-control" placeholder="email" name="email" [(ngModel)]="client.email" >
      </div>
    </div>

    <div class="form-group">
      <label for="adresse">Adresse</label>
      <input type="text" class="form-control" name="adresse"  [(ngModel)]="client.adresse">
    </div>

    <div class="form-group">
      <label for="ville">Ville</label>
      <input type="text" class="form-control" name="ville"  [(ngModel)]="client.ville">
    </div>

    <div class="form-group">
      <label for="telephone">Téléphone</label>
      <input type="text" class="form-control" name="telephone"  [(ngModel)]="client.telephone">
    </div>

    <div class="form-group">
      <label for="date_naissance">Date de Naissance</label>
      <input type="date" class="form-control" name="ville"  [(ngModel)]="client.date_naissance">
    </div>

    <div class="form-group">
      <label for="tampon">Tampon</label>
      <input type="number" class="form-control" name="tampon"  [(ngModel)]="client.tampon">
    </div>

<button type="button" class="btn btn-danger" (click)="cancel()" ><i class="fa fa-cross"></i> Annuler </button>

<button *ngIf="client.id > 0" type="button" class="btn btn-default" (click)="facture()" ><i class="fa fa-cross"></i> Nouvelle facture </button>

<button type="button" class="btn btn-success pull-right" (click)="save(client)" ><i class="fa fa-check"></i> Enregistrer </button>

    <!-- /input-group -->
  </div>
  <!-- /.box-body -->
</div>
