  <ul class="timeline">

    <template ngFor let-day [ngForOf]="dates" >

    <!-- timeline time label -->
    <li class="time-label">
        <span class="bg-red">
            {{day}}
        </span>
    </li>
    <!-- /.timeline-label -->
    <template ngFor let-log [ngForOf]="log_by_day[day]">
      <li [ngSwitch]="log.model">
        <template [ngSwitchCase]="'motion'">
          <i class="fa fa-male bg-blue"></i>
          <div class="timeline-item">
              <span class="time"><i class="fa fa-clock-o"></i> {{log.date | date : 'mediumTime' }}</span>

              <h3 class="timeline-header"><a href="#">Mouvement</a> {{(log.sid | toDevice).name }}</h3>

              <div class="timeline-body">
                <span *ngIf="log.getData().status === 'motion' ">Début de passage</span>
                <span *ngIf="log.getData().status === 'no_motion' ">Fin de passage</span>
              </div><!--

              <div class="timeline-footer">
                  <a class="btn btn-primary btn-xs">...</a>
              </div-->
          </div>
        </template>
        <template [ngSwitchCase]="'magnet'">
          <i [ngClass]="{'fa':true, 'bg-maroon':true, 'fa-lock': log.getData().status === 'close',  'fa-unlock': log.getData().status !== 'close'}" ></i>
          <div class="timeline-item">
              <span class="time"><i class="fa fa-clock-o"></i> {{log.date | date : 'mediumTime' }}</span>

              <h3 class="timeline-header">
                <a href="#" *ngIf="log.getData().status === 'close'">Fermeture</a>
                <a href="#" *ngIf="log.getData().status !== 'close'">Ouverture</a>
                {{(log.sid | toDevice).name }}
              </h3>
          </div>
        </template>
        <template [ngSwitchCase]="'switch'">
          <i class="fa fa-mouse-pointer bg-maroon"></i>
          <div class="timeline-item">
              <span class="time"><i class="fa fa-clock-o"></i> {{log.date | date : 'mediumTime' }}</span>

              <h3 class="timeline-header"><a href="#">Clic</a> {{(log.sid | toDevice).name }}</h3>
          </div>
        </template>
        <template ngSwitchDefault>
          <!-- timeline icon -->
          <i class="fa fa-lock bg-maroon"></i>
          <div class="timeline-item">
              <span class="time"><i class="fa fa-clock-o"></i> {{log.date | date : 'mediumTime' }}</span>

              <h3 class="timeline-header">
                <a href="#" >Evenement autre</a>
                {{(log.sid | toDevice).name }}</h3>

              <div class="timeline-body">
                  {{log.data}}
              </div>
          </div>
        </template>
      </li>
    </template>



  <!-- fin d'un jour -->
  </template>
  <!-- END timeline item -->
  <li>
    <i class="fa fa-clock-o bg-gray"></i>
  </li>

</ul>
