Commenter <button type="button" class="btn btn-default btn-flat" (click)="toggleModeCommentaire();"><i class="fa fa-edit"></i></button>

  <ul class="timeline">

    <template ngFor let-day [ngForOf]="dates" >

    <!-- timeline time label -->
    <li class="time-label">
        <span class="bg-red">
            {{day}}
        </span>
    </li>
    <!-- /.timeline-label -->
    <template ngFor let-event [ngForOf]="event_by_day[day]">
      <li [ngSwitch]="event.model">
        <template [ngSwitchCase]="'motion'">
          <i class="fa fa-male bg-blue"></i>
          <div class="timeline-item">
              <span class="time"><i class="fa fa-clock-o"></i> {{event.createdAt | date : 'mediumTime' }}</span>

              <h3 class="timeline-header"><a href="#">Mouvement</a> {{(event.sid | toDevice).name }}
                <span *ngIf="event.data.status === 'motion' ">Début de passage</span>
                <span *ngIf="event.data.status === 'no_motion' ">Fin de passage</span>
              </h3>
              <app-home-comment [event]='event' [write_mode]='mode'></app-home-comment>
              <!--

              <div class="timeline-footer">
                  <a class="btn btn-primary btn-xs">...</a>
              </div-->
          </div>
        </template>
        <template [ngSwitchCase]="'magnet'">
          <i [ngClass]="{'fa':true, 'bg-maroon':true, 'fa-lock': event.data.status === 'close',  'fa-unlock': event.data.status !== 'close'}" ></i>
          <div class="timeline-item">
              <span class="time"><i class="fa fa-clock-o"></i> {{event.createdAt | date : 'mediumTime' }}</span>

              <h3 class="timeline-header">
                <a href="#" *ngIf="event.data.status === 'close'">Fermeture</a>
                <a href="#" *ngIf="event.data.status !== 'close'">Ouverture</a>
                {{(event.sid | toDevice).name }}
              </h3>
              <app-home-comment [event]='event' [write_mode]='mode'></app-home-comment>
          </div>

        </template>
        <template [ngSwitchCase]="'switch'">
          <i class="fa fa-mouse-pointer bg-maroon"></i>
          <div class="timeline-item">
              <span class="time"><i class="fa fa-clock-o"></i> {{event.createdAt | date : 'mediumTime' }}</span>

              <h3 class="timeline-header"><a href="#">Clic</a> {{(event.sid | toDevice).name }}</h3>
              <app-home-comment [event]='event' [write_mode]='mode'></app-home-comment>
          </div>
        </template>
        <template [ngSwitchCase]="'sensor_ht'">
          <i class="fa fa-thermometer-quarter bg-green"></i>
          <div class="timeline-item">
              <span class="time"><i class="fa fa-clock-o"></i> {{event.createdAt | date : 'mediumTime' }}</span>

              <h3 class="timeline-header">
                <a href="#" *ngIf="event.data_type==='temperature'">Temperature</a>
                <a href="#" *ngIf="event.data_type==='humidity'">Humidity</a>
                {{(event.sid | toDevice).name }}
              </h3>
              <span *ngIf="event.data && event.data_type==='temperature'">{{event.data / 100 }} Degré</span>
              <span *ngIf="event.data && event.data_type==='humidity'">{{event.data / 100 }} %</span>
              <app-home-comment [event]='event' [write_mode]='mode'></app-home-comment>
          </div>
        </template>
        <template ngSwitchDefault>
          <!-- timeline icon -->
          <i class="fa fa-lock bg-maroon"></i>
          <div class="timeline-item">
              <span class="time"><i class="fa fa-clock-o"></i> {{event.createdAt | date : 'mediumTime' }}</span>

              <h3 class="timeline-header">
                <a href="#" >Evenement autre</a>
                {{(event.sid | toDevice).name }}</h3>

              <app-home-comment [event]='event' [write_mode]='mode'></app-home-comment>

              <div class="timeline-footer">
                  {{event.data}}
              </div>
          </div>
        </template>
      </li>
    </template>



  <!-- fin d'un jour -->
  </template>
  <!-- END timeline item -->
  <li>
    <i class="fa fa-clock-o bg-gray"></i>
  </li>

</ul>
