  <ul class="timeline">

    <template ngFor let-day [ngForOf]="dates" >

    <!-- timeline time label -->
    <li class="time-label">
        <span class="bg-red">
            {{day}}
        </span>
    </li>
    <!-- /.timeline-label -->

    <!-- timeline item -->
    <template ngFor let-log [ngForOf]="log_by_day[day]">
    <li>
        <template [ngIf]="log.model == 'motion'">
          <!-- timeline icon -->
          <i class="fa fa-user bg-blue"></i>
          <div class="timeline-item">
              <span class="time"><i class="fa fa-clock-o"></i> {{log.date | date : 'mediumTime' }}</span>

              <h3 class="timeline-header"><a href="#">Mouvement</a> {{(log.sid | toDevice).name }}</h3>

              <!--div class="timeline-body">
                  {{log.data}}
              </div>

              <div class="timeline-footer">
                  <a class="btn btn-primary btn-xs">...</a>
              </div-->
          </div>
        </template>

        <template [ngIf]="log.model == 'magnet'">
          <!-- timeline icon -->
          <i class="fa fa-lock bg-maroon"></i>
          <div class="timeline-item">
              <span class="time"><i class="fa fa-clock-o"></i> {{log.date | date : 'mediumTime' }}</span>

              <h3 class="timeline-header">
                <a href="#" *ngIf="log.getData().status === 'close'">Fermeture</a>
                <a href="#" *ngIf="log.getData().status !== 'close'">Ouverture</a>
                {{(log.sid | toDevice).name }}</h3>

              <!--div class="timeline-body">
                  {{log.data}}
              </div>

              <div class="timeline-footer">
                  <a class="btn btn-primary btn-xs">...</a>
              </div-->
          </div>
        </template>

        <template [ngIf]="log.model != 'magnet' && log.model != 'motion'">
          <!-- timeline icon -->
          <i class="fa fa-lock bg-maroon"></i>
          <div class="timeline-item">
              <span class="time"><i class="fa fa-clock-o"></i> {{log.date | date : 'mediumTime' }}</span>

              <h3 class="timeline-header">
                <a href="#" >Evenement autre</a>
                {{(log.sid | toDevice).name }}</h3>

              <div class="timeline-body">
                  {{log.data}}
              </div>
          </div>
        </template>

    </li>
    <!-- fin d'une entrée -->
  </template>


  <!-- fin d'un jour -->
  </template>
  <!-- END timeline item -->
  <li>
    <i class="fa fa-clock-o bg-gray"></i>
  </li>

</ul>
